.comments__container {
    max-width: 1184px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

@media screen and (max-width: 768px) {
    .comments__container {
        padding-right: 18vw;
        padding-left: 18vw;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .comments__container {
        padding: 0;
    }
}