.lead__title {
    max-width: 782px;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        width: 100%;        
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        padding: 0 24px 0;
    }
}

@media screen and (max-width: 750px) {
    .lead__title {
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 550px) {
    .lead__title {
        font-size: 50px;
        line-height: 53px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        padding: 0 16px 0;       
        margin-bottom: 8px;
        font-size: 40px;
        line-height: 44px;
    }
}
