.video-item__duration {
    max-width: 44px;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin: 64px 0 12px 0;
    z-index: 2;
    
}

@media screen and (max-width: 1024px) {
    .video-item__duration {
        margin-top: 54px;
    }
}

@media screen and (max-width: 768px) {
    .video-item__duration {
        margin: 0;
   }  
}

@media screen and (max-width: 600px) {
    .video-item__duration {
        margin-top: 18px;
    }
}

@media screen and (max-width: 425px) {
    .video-item__duration {
        margin-top: 0;
    }
}