.video__container {
   width: 100%;
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
}

@media screen and (max-width: 768px) {
   .video__container {
      margin-top: 37px;
  }
}

@media screen and (max-width: 600px) {
   .video__container {
      flex-direction: column;
      align-items: center;
      margin-top: 24px;
  }
}

   
